<div class="flex justify-content-center align-items-center h-screen w-full">
  <p-card
    header="Score: {{ score }}"
    subheader="Time Left: {{ gameDuration }}sec"
    [style]="{ width: '1400px', height: '800px' }"
    styleClass="p-card-shadow"
  >
    <div class="flex">
      <p-card
        header="Guess the location"
        class="flex font-light"
        [style]="{ width: '700px', height: '700px' }"
      >
        <img
          src="{{ imagePath }}"
          alt=""
          [style]="{
            width: '100%',
            height: '100%',
            border: '10px solid #131c29'
          }"
        />
      </p-card>
      <div class="flex mx-3 answer-card">
        <p-card
          header="Answer"
          class="flex-none"
          [style]="{
            width: '40em',
            height: '700px',
            border: '2px solid #172230'
          }"
        >
          <div class="flex flex-column gap-3">
            <p-card
              subheader="Cardinal Direction"
              [style]="{ border: '2px solid #172230', background: '#1f2d40' }"
            >
              <p-multiSelect
                [(ngModel)]="selectedDirections"
                [options]="cardinalDirections"
                optionLabel="direction"
                defaultLabel="Select"
                display="chip"
                [style]="{ width: '100%' }"
              ></p-multiSelect>
            </p-card>
            <p-card
              subheader="Area Name"
              [style]="{ border: '2px solid #172230', background: '#1f2d40' }"
            >
              <p-multiSelect
                [(ngModel)]="selectedAreaNames"
                [options]="areaNames"
                optionLabel="name"
                defaultLabel="Select"
                display="chip"
                [style]="{ width: '100%' }"
              ></p-multiSelect>
            </p-card>
            <p-card
              subheader="Street Name"
              [style]="{ border: '2px solid #172230', background: '#1f2d40' }"
            >
              <input
                type="text"
                pInputText
                [(ngModel)]="streetName"
                [style]="{ width: '100%' }"
              />
            </p-card>
            <p-divider align="center">
              <p *ngIf="answerState === answerStates.Neutral">Submit Answer</p>
              <p *ngIf="answerState === answerStates.CardinalError">
                Wrong Cardinal Direction
              </p>
              <p *ngIf="answerState === answerStates.AreaError">
                Wrong Area Name
              </p>
              <p *ngIf="answerState === answerStates.StreetError">
                Wrong Street Name
              </p>
              <p *ngIf="answerState === answerStates.NoInputCardinal">
                Please Enter A Cardinal Direction
              </p>
              <p *ngIf="answerState === answerStates.NoInputArea">
                Please Enter An Area Name
              </p>
              <p *ngIf="answerState === answerStates.NoInputStreet">
                Please Enter A Street Name
              </p>
            </p-divider>
            <button
              pButton
              type="button"
              label="Submit"
              (click)="nextQuestion()"
            ></button>
          </div>
        </p-card>
      </div>
    </div>
  </p-card>
</div>
