<div class="flex justify-content-center align-items-center h-screen w-full">
  <p-card
    header="Play GeoGuesser Lah!"
    subheader="Lightweight version of the GeoGuesser game"
    [style]="{ width: '600px' }"
    styleClass="p-card-shadow"
  >
    <ng-template pTemplate="header">
      <img alt="Card" src="assets/usercard.png" />
    </ng-template>
    <p>
      You'll have {{ gameDuration }} seconds to guess as many locations as you
      can. Let's see who can get the highest score on the leader boards!
    </p>
    <ng-template pTemplate="footer">
      <p-button
        *ngIf="isLoggedIn"
        class="flex align-items-end justify-content-end"
        relative
        label="Let's Go!"
        icon="pi pi-caret-right"
        styleClass="p-button-outlined p-button-success"
        (click)="onClickedPlay()"
        routerLink="/game"
      ></p-button>
      <p-button
        *ngIf="!isLoggedIn"
        class="flex align-items-end justify-content-end"
        relative
        label="Sign Up To Play!"
        icon="pi pi-pencil"
        styleClass="p-button-outlined p-button-warning"
        routerLink="/signup"
      ></p-button>
    </ng-template>
  </p-card>
</div>
